
body {
  background-color: rgba(60, 179, 113, 20);
  background-image: url("assets/img/background.jpg");
}

#heading {
  font-family: sans-serif;
  color: white;

}

nav {
	background-color:#19bfe8;

}
.changeHight{
	height:100%;
}
#profpics {
  max-width: 75%;
  height: auto;
}
