
body {
  background-color: rgba(39,55,121, .25);
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#heading {
  font-family: sans-serif;
  color: rgba(39,55,121, 1));

}
/* -------navbar styles------ */
.navcolor {
	background-color: #082445 !important;
  color: white !important;
  border-color: white;
}
.innernav {
  background-color: blue;
  color: white;
}
#profpics {
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
}

.displayNone{
  display: none;
}


h1 {
  font-size: 50px;
  text-align: center;
  font-family: serif;
}
#homepics {
  background-color:#082445;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top:  15px;
}
#homepicsrow {
  border-radius: 25px;
}
#headingSethProfile{
    background-color: #082445;
    width: 69%;
    padding: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lobster';
    overflow: auto;
}

#headingindex {
    background-color: #082445;
    width: 57%;
    padding: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lobster';
    overflow: auto;
}
#keystone {
  font-family: 'Lobster';
  color: white;
}


h1 {
  font-size: 50px;
  text-align: center;
  font-family: serif;
}
h2 {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px #082445;
}
h3 {
  font-size: 50px;
  text-align: center;
  font-family: 'Lobster';
  text-shadow: 4px 4px #04083c;
  color: white;
}
h4 {
  font-size: 45px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
h5 {
  font-size: 25px;
  color: white;
}
#homeblurb {
  margin-bottom: 15px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #082445;
}
#footercenter {
	padding-top: auto;
	padding-bottom: auto;
}



/* seths css*/
.centerText{
  text-align: center;
}
.floatFields{
  text-align: center;
}





/* Centre the form within the page */
form {
    margin:0 auto;
  }

/* Style the text boxes */
input, textarea {
    width:43%;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
  height:213px;
  background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
#kitelogo {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
}

.profileBoxHeight{
  overflow: auto;
}
.centerplz {
  text-align: center;
}
